

.load-container{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: rgba(red, green, rgba(126, 126, 126, 0.151), alpha);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

